<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <form action="/" method="post">
        <div class="start">
            <h1>Login Page</h1>
            <div class="first">
                <p><input type="email" required placeholder="Enter email" name="email" id="email"></p>
            </div>
            <div class="first">
                <p><input type="password" required placeholder="Enter password" name="password" id="password"></p>
            </div>
            <div class="last">
                <label><input type="checkbox" name="checkbox" required id="checkbox">Remember Me?</label>
                <a href="forgot">forgot password</a>
            </div>
            
            <div class="btn">
                <p><input type="submit" value="Submit"></p>
            </div>
            <div class="end">
                <label>Dont't have an account </label><a href="./register">Register</a>
            </div>
        </div>
    </form>
</body>
</html>
